server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/orchestration
    username: orchestration_admin
    password: admin_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
        
product:
  order-service-url: http://localhost:8083